<body>
<h1>Player 1</h1>
<h2><%= @player_1_name %> <%= @player_1_health %>HP </h2>
<h1>Player 2</h1>
<h2><%= @player_2_name%>: <%= @player_2_health %>HP </h2>
<a href="/attack">Player 1 Attack</a>
</body>
